table {
  margin: 20px auto;
  padding: 5%;
  width: 500px;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 2%;
}

tr:nth-child(even) {
  background-color: rgb(98, 9, 182);
  color: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(236, 124, 236);
}

span:hover {
  cursor: pointer;
}

.random {
  background-color: rgba(233, 191, 53, 0.918);
}
.name {
  background-color: #ff8c69;
}

.dob {
  background-color: #4f78e9;
}
